<?xml version="1.0"?>
<config>
    <{{ module | dasherize }}>
        <label>{{ module }}</label>
        <title>{{ module }}</title>
        <pages>
        </pages>
    </{{ module | dasherize }}>
</config>
